/* element */
p{
    color: salmon;
}

h1{
    font-size: 64px;
}

/* class */
.transsexual{
    font-size: 30px;
    color: red;
}

.italics{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

.Mommy{
    color:blue;
}

.Daughter {
    color: red;
}

/* id */
#special_div{
    border: 5px dashed forestgreen;
    background-color: pink;
}

#title{
    background-color: lightblue;
}

/* combinators */
.bold.italics{                      /* conjunction */
    text-decoration: underline;
}

#special_div p{                     /* nested */
    font-family: monospace;
    color: blue;
}

.Mommy > .Daughter{                    /* direct child */
    font-size: 30px;
    text-decoration: underline;
}

/* Delaring the properties of multiple tags at once */
h1, h2, h3, h4{
    margin: 0;
}